body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(images/bg.jpg) center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

header{
	height: 80px;
	width: 500px;
	margin-right: 10px auto;
	font-size: 3em;
	color: #FFF;
	line-height: 80px;
}

.inputContainer{
	margin-top: 15%; 
	margin-left: 1100px;
	width: 200px;
	position: absolute;
}

.input{
	height: 30px;
	font-size: 1.3em;
}

#slider{
	margin-bottom: 10%; 
}

#circle{
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background: black;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#thicknessInput{
	position: relative;
}

#container{
	margin-top: -1%;
	margin-left: 45%;
	width: 800px;
	height: 600px;
	margin: 10px auto;
	margin-bottom: -1%; 
}

.input2{
	margin-bottom: 10%; 
}

.button{
	font-size: 18px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 5px rgba(0,0,0,0.2);
	position: relative;
}

.button:hover{
	color: white;
	background: black;
}

.button:active{
	top: 5px;
}

#board{
	cursor: crosshair;
}

.eraseMode{
	background-color: red;
	color: #FFF;
}

